// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #63D56D;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$colors:(
    green:#63D56D,
    gold:#f19b19,
    black:#333,
    gray:#ccc,
    white:#fff,

);

@function color ($name) {
    @return map-get($colors, $name)
}

$radius:5px;